<%= form_for(:session, :url => sessions_path) do |f| %>
		
	<fieldset>
	
		<legend>Sign in</legend>
			
		<div class="field">
			<%= f.label :email %><br/>
			<%= f.text_field :email, :size => 20 %>
		</div>
		
		<div class="field">
			<%= f.label :password %><br/>
			<%= f.password_field :password, :size => 20 %>
		</div>
		
		<div class="actions">
			<%= f.submit "Sign in" %>
		</div>
		
	</fieldset>
		
<% end %>
