
	<% if @user.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@user.errors.count, "error") %> 
		      prohibited this user from being saved:</h2>
		  <p>There were problems with the following fields:</p>
		  <ul>
		  <% @user.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	<% end %>

<%= form_for @user do |f| %>

   <div class="field">
	   <%= sanitize("required fields &ast;") %>
	  </div>
			
	  <div class="field">
		  <%= f.label :organisation %><br/>
		  <%= f.text_field :organisation %>
	  </div>
	
	  <div class="field">
		  <%= f.label sanitize("#{:forename} &ast;") %><br/>
		  <%= f.text_field :forename %>
	  </div>
	
	  <div class="field">
		  <%= f.label sanitize("#{:surname} &ast;") %><br/>
		  <%= f.text_field :surname %>
	  </div>
	
	  <div class="field">
		  <%= f.label sanitize("#{:email} &ast;") %><br/>
		  <%= f.text_field :email %>
	  </div>
	
	  <div class="field">
		  <%= f.label sanitize("#{:address} &ast;") %><br/>
		  <%= f.text_area :address, :size => "30x5" %>
	  </div>
	
	  <div class="field">
		  <%= f.label sanitize("#{:post_code} &ast;") %><br/>
		  <%= f.text_field :post_code %>
	  </div>
	
	  <div class="field">
		  <%= f.label :telephone %><br/>
		  <%= f.text_field :telephone %>
	  </div>
	
	  <div class="field">
		  <%= f.label sanitize("#{:password} &ast;") %><br/>
		  <%= f.password_field :password %>
	  </div>
	
	  <div class="field">
		  <%= f.label :password_confirmation %><br/>
		  <%= f.password_field :password_confirmation %>
	  </div>
	
	  <div class="field">
		  <%= f.label sanitize("#{:terms_of_service} &ast;") %>
		  <%= f.check_box :terms_of_service %>
	  </div>
	
	  <div class="actions">
		  <%= f.submit "Sign Up" %>
	  </div>
	
<% end %>
