<%= form_for @post do |f| %>

	<% if @post.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@post.errors.count, "error") %> 
		      prohibited this post from being saved:</h2>
		  <p>There were problems with the following fields:</p>
		  <ul>
		  <% @post.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	<% end %>
			
	<div class="field">
		<%= f.label sanitize("#{:title} &ast;") %><br/>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label sanitize("#{:content} &ast;") %><br/>
		<%= f.text_area :content, :size => "40x10" %>
	</div>
	
	<div class="field">
		<%= f.label :published %>
		<%= f.check_box :published %>
	</div>
	
	<div class="actions">
		<%= f.submit "Post" %>
	</div><br/>
	
<% end %>
